profiles {
  slurm {
    includeConfig 'conf/slurm.config'
  }
  gcp {
    includeConfig 'conf/gcp.config'
  }
  local {
    includeConfig 'conf/local.config'
  }
}

//workDir = "/home/jupyter/nxf-work/classyflow"
workDir = "gs://shared-aif-bucket-8b96/jobs-tmpfiles/classyflow"

params {
    //Core Pipeline Settings
    help = false
    //input_dirs = ["${projectDir}/data/TMA1990", "${projectDir}/data/TMAS1_4xB2"]
    input_dirs = ["gs://shared-aif-bucket-8b96/RaymondDev01/Demo/TMA1990",
                  "gs://shared-aif-bucket-8b96/RaymondDev01/Demo/TMAS1_4xB2" ]
    output_dir = "/home/jupyter/nxf-work/classyflow_output"
     
    //Input File formatting configurations
    slide_contains_prefix="False"  /// Assume folder is a batch of slides & image name contains "_" delimited prefix
    folder_is_slide="True"         /// Assume folder contains multiple ROI's to a single slide/sample.
	  quant_file_extension=".tsv"
	  quant_file_delimiter="\\t"  // Tab-delimited '\\t' or comma ','
    enable_large_file_splitting=true
     
    // 8-bit (pixel values will be 0-255) or 16-bit (pixel values will be 0-65,535)
    // Need to add an option for Dual-Band comingin from Hyperion data (0-e)
    bit_depth="16-bit" 
    
    //qupath_object_type="CellObject"  // This has two ROIs & 4 components [Cell, Cytoplasm, Membrane, Nucleus] from QuPath
    qupath_object_type='DetectionObject' // Single Whole Cell or Nucleus only
    nucleus_marker = 'DAPI'
    plot_fraction = 0.25
    
    // QuPath's feild holding the cell names
    classifed_column_name="Classification"
    
    // Pipe delimited list of marker names, that regex will exclude (be careful of partial sub-names like CD3 in CD38)
    exclude_markers="Bcl2|Ki67|HLA-A|ER|IDO1|Beta-actin|HLA-DR|PCNA|GzB|Podoplanin|CD45RO|ICOS|LAG3|Irr-61|Irr-66|Irr-96"
    nucleus_marker="DAPI"
    housekeeping_marker=""
    
    // Set this to blank; if you want the method to decide by QRQ evaluation.
    override_normalization="boxcox" //Options: [null, 'minmax', 'boxcox', 'log', 'quantile'] // null will pick for you, not yet completed.
    downsample_normalization_plots=0.4
    plot_target_feature_suffix="Mean"
    quantile_split = 1024   // Good for 16-bit, but not be for 255-bit or DualBand / Hyperion

    // Model search space parameters
    max_xgb_cv = 10
    xgb_depth_start = 2
    xgb_depth_stop = 9
    xgb_depth_step = 3
    xgb_learn_rates = "0.1,0.7,1.0" //0.7"

    // Prediction Settings
    predict_class_column = 'CellType'
    predict_le_encoder_file = "${params.output_dir}/models/classes.npy"
    predict_columns_to_export = 'Centroid X µm,Centroid Y µm,Image,CellTypePrediction'
    predict_cpu_jobs = 16
    
    // Add clustering for additional feature engineering
    run_get_leiden_clusters=false
    scimap_resolution=0.66 //resolution in https://scimap-doc.readthedocs.io/en/latest/tl/sm.tl.cluster/
    scimap_label_fraction=0.64 //want more than more than 2/3rds label enrich, to impute
    scimap_top_feature_prec=0.1
    
    // How much of the data per batch to with-hold from feature selection and class interpetation
    holdout_fraction=0.1
    filter_out_junk_celltype_labels="??,?,0,Negative,Ignore*"
    minimum_label_count=18
    
    // Feature Selection 
    // subset_training_data="True" //This is not working directly.
    //The number of features to use in RFE
    min_rfe_nfeatures = 2
    max_rfe_nfeatures = 6

    // Number of rows to break batches into, round-robin style, to minimize memory needs.
    // Leave blank to avoid splitting (except 1 million rows is default, will require very high mem hardware)
    target_splitting_size = 55000

}


