// conf/gcp.config

google {
  project = env('GCP_PROJECT_ID')
  location = 'us-central1'
  region   = 'us-central1'
  batch {
    spot = true
    logsPolicy.destination = 'CLOUD_LOGGING'
    usePrivateAddress = env('GCP_USE_PRIVATE_ADDRESS') ?: true
    serviceAccountEmail = env('GCP_SERVICE_ACCOUNT') ?: ''
    network = env('GCP_NETWORK') ?: ''
    subnetwork = env('GCP_SUBNETWORK') ?: ''
  }
}

process {
  label = 'classyflow'
  executor = 'google-batch'
  machineType = 'n2-standard-8'
  container = env('GCP_CONTAINER')
  errorStrategy = 'retry'
  maxRetries = 2

  withName: 'GENERATE_TRAINING_N_HOLDOUT' {
    cpus = 16
    memory = '120 GB'
    machineType = 'n1-*,n2-*'
  }
  withName: 'normalization_wf:NORMALIZATION' {
    cpus = 2
    memory = '42 GB'
    machineType = 'n1-*,n2-*'
  }
  withName: 'featureselection_wf:TOP_LABEL_SPLIT' {
    cpus = 2
    memory = '8 GB'
    machineType = 'n1-*,n2-*'
  }
  withName: 'featureselection_wf:SEARCH_FOR_ALPHAS' {
    cpus = 2
    memory = '8 GB'
    machineType = 'n1-*,n2-*'
  }
  withName: 'featureselection_wf:RUN_ALL_RFE' {
    cpus = 16
    memory = '24 GB'
    machineType = 'n1-*,n2-*'
  }
  withName: 'featureselection_wf:EXAMINE_CLASS_LABEL' {
    cpus = 8
    memory = '16 GB'
    machineType = 'n1-*,n2-*'
  }
  withName: 'modelling_wf:XGBOOSTING_MODEL' {
    cpus = 12
    memory = '32 GB'
    machineType = 'n1-*,n2-*'
  }
  withName: 'modelling_wf:XGBOOSTING_FINAL_MODEL' {
    cpus = 8
    memory = '24 GB'
    machineType = 'n1-*,n2-*'
  }
  withName: 'modelling_wf:HOLDOUT_XGB_EVALUATION' {
    cpus = 12
    memory = '18 GB'
    machineType = 'n1-*,n2-*'
  }
  withName: 'PREDICT_ALL_CELLS_XGB'{
    cpus = 16
    memory = '32 GB'
    machineType = 'n1-*,n2-*'
  }
  withName: 'MERGE_TAB_DELIMITED_FILES' {
    cpus = 4
    memory = '32 GB'
    disk = '500 GB'
    machineType = 'n1-*,n2-*'
  }

}
