// conf/gcp.config

workDir = env('GCP_WORKDIR')

google {
  project = env('GCP_PROJECT_ID')
  location = 'us-central1'
  region   = 'us-central1'
  batch {
    spot = true
    logsPolicy.destination = 'CLOUD_LOGGING'
    usePrivateAddress = env('GCP_USE_PRIVATE_ADDRESS') ?: true
    serviceAccountEmail = env('GCP_SERVICE_ACCOUNT') ?: ''
    network = env('GCP_NETWORK') ?: ''
    subnetwork = env('GCP_SUBNETWORK') ?: ''
  }
  machineType = 'n2-standard-8'
}

process {
  executor = 'google-batch'
  cpus = 2
  memory = '8 GB'
  container = env('GCP_CONTAINER')
}
