// conf/slurm.config
process.executor = 'slurm'

process {
    withName: MERGE_TAB_DELIMITED_FILES {
        executor = 'slurm'
        queue = 'sm-n2-8g-pre'      
        memory = '4G'         
    }

    /*
      normalization_wf
    */
    withName: normalization_wf:BOXCOX {
        executor = 'slurm'
        queue = 'sm-n2-8g-pre'   
        memory = '8G'            
        cpus = 2                 
    }

    /*
      featureselection_wf
    */
    withName: featureselection_wf:TOP_LABEL_SPLIT {
        executor = 'slurm'
        queue = 'sm-n2-8g-pre'   
        memory = '8G'            
        cpus = 2                 
    }
    withName: featureselection_wf:SEARCH_FOR_ALPHAS {
        executor = 'slurm'
        queue = 'sm-n2-8g-pre'   
        memory = '8G'            
        cpus = 2                 
    }
    withName: featureselection_wf:RUN_ALL_RFE {
        executor = 'slurm'
        queue = 'med-n16-64g-pre'   
        memory = '6G'            
        cpus = 16                
    }
    withName: featureselection_wf:EXAMINE_CLASS_LABEL {
        executor = 'slurm'
        queue = 'med-n16-64g-pre'   
        memory = '16G'            
        cpus = 2                
    }

    /*
      modelling_wf
    */
    withName: modelling_wf:XGBOOSTING_MODEL {
        executor = 'slurm'
        queue = 'med-n16-64g-pre'   
        memory = '12G'            
        cpus = 12                
    }
    withName: modelling_wf:XGBOOSTING_FINAL_MODEL {
        executor = 'slurm'
        queue = 'med-n16-64g-pre'   
        memory = '12G'            
        cpus = 4                
    }
    withName: modelling_wf:HOLDOUT_XGB_EVALUATION {
        executor = 'slurm'
        queue = 'med-n16-64g-pre'   
        memory = '12G'            
        cpus = 4                
    }

}

